div.card {
    background-color: rgb(92, 64, 28);
    height: 300px;
    width: 300px;
    text-align: center;
}

div.card > h1 {
    color: aqua;
}

div.card > img {
    height: 150px;
    width: 150px;
}